
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.limpa{
    clear: both;
}

.w100{
    width: 100%;
}

.menudrop{
    position: relative;
}

.divdrop{
    position: absolute;
    background-color:#343a40;
    z-index: 999;
    color: white;
    display: none;
}

.linkdrop:hover .divdrop{
    display: block;
}

a{
    text-decoration: none;
}

nav,#menu-principal, #menu-top{
    height: 80px;
    width: 100%;
    background-color:#343a40;
    max-height: 80px;
}

label.logo{
    position: relative;
    float: left;
    top: 15px;
    left: 20px;
    font-size: 35px;
    color: white;
    max-height: 80px;
}

#menu-principal{
    display: flex;
    justify-content: center;
}

#menu-principal a:hover,button:hover{
    color: #79969b;
}




nav ul{
    float: right;
    top: 10px;
    right: 20px;
    margin: 0!important;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
    max-height: 80px;
}

nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
    max-height: 80px;
}

a.claselinkS{
    text-decoration:none;
    max-height: 80px;
    height: 100%;
}

.categoriaLink{
    max-height: 70px;
}

.listaDesejo i{
    margin-top: 2px;
    margin-right: 5px;
}

nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.navcenter{
    width: 100%;
    display: flex;
    justify-content: center;
}
.navcenter>ul>li>a{
    text-decoration: none;
}

.navcenter>ul>li>a:hover{
    color: rgb(134, 134, 134);
}

.navConta{
    width: 100%;
    background: #343a40;
}

.clear{
    clear: both;
}

.alinarNaMesmaLinha{
    display: flex;
}

.controls{
    width: auto;
    float: right;
    height: auto;
    margin-top: 20px;

}

.iconesMenuTop{
    display: flex;
    color: white;
}

.iconesMenuTop span{
    font-weight: 400;
    font-size: 1rem;
}

.iconesMenuTop a{
    display: flex;
    text-decoration: none;
}

.iconesMenuTop a:hover{
    color: #79969b;
}

.alinharAdireita{
    width: 100%;
    float: right;
    display: flex;
    margin-right: 1rem;
    justify-content: space-around;
}

.perfil{
    width: 200px;
}

#inputpesquisar{
    width: 380px;
}

.titulo{
    font-size: 14px;
}

.tituloDetalhes{
    text-align: center;
    width: 100%;
    border-bottom: 2px solid rgb(138, 136, 136);
    
}

.corpoDetalhes{
    width: 100%;
    height: 100%;
    display: flex;
}

.w50{
    width: 50%;
    height: 100%;
    padding: 0 15px;
}

/* .imgPrincipal{
    width: 550px;
    height: 550px !important;
    padding: 10px 30px;
} */

.pesquisar{
    width: 100%;
    padding: 10px 0 10px 0;
    position: relative;
    float: left;
    margin: 0 !important;
}

.formularioPqs{
    display: flex;
    justify-content: center;
}

.slider{
    background-color: slategray; 
    height: auto; 
    padding-top: 15px;
    padding-bottom: 4px;
}

.sliderImg{
    width: 550px;
    height: 50px;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
}

.cardImg{
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 10px;
}

.btndetalhes{
    margin-bottom: 5px;
}

.cardImg > img{
    width: 100%;
    height: 100%;
    background-size: contain;
}

.tituloProduto{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.btn{
    font-size: 0.85rem !important;
}

.botoesDetalhes{
    width: 50%;
    height: 60px;
    display: block;
}

.botoesDetalhes > .comprar{
    border: none;
    height: 35px;
    border-radius: 5px;
    width: 500px;
    background-color: #17a2b8;
}

.botoesDetalhes > .adicionar{
    margin-top: 5px;
    height: 35px;
    border-radius: 5px;
    border: none;
    width: 500px;
    background-color: #28a745;
}

.btn-danger{
    cursor: default;
}

.adm{
    height: 70vh;
    text-align: center;
}

.painelDeControle{
    width: 400px;
    display: inline-block;
    margin-top: 25px;
}

.botoesAdm{
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
    text-decoration: none;
}

.cadastrarProduto{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloForm{
    text-align: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 25px;
}

.bordaInferior{
    width: 100%;
    border-bottom: 3px solid #17a2b8;
}

.formulario_produto{
    display: inline-block;
    width: 100%;
}

.frmCadastroProd{
    display: flex;
    justify-content: space-evenly;
    padding-left: 2%;
}

.label{
    width: 100%;
    font-size: 20px;
}


.input{
    width: 300px;
}

.number{
    width: 85px;
}

.estoqueEvalor{
    display: flex;
    justify-content: space-around;
}

.quantidadeEmEstoque,.vlrUnitario{
    width: 100px !important;
}

.formulario{
    width: 100%;
    margin-bottom: 15px;
}

.center{
    width: 100% !important;
}

.center >.tituloForm{
    justify-content: center;
}

.btnCadastrar{
    margin-right: 25px;
}

.btns{
    margin-top: 5rem;
}

.btns a{
    text-decoration: none;
}

.btnVoltar{
    margin-top: 1rem;
}

.slcImagem{
    font-size: 0.80rem;
}


.dadosCarrinho{
    height: 140px;
    display:flex;
    margin: 20px;
}

.espacamentoLateralCarrnho{
    display: flex;
    justify-content: center;
}

.exibeProdutosCarrinho{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    box-shadow: 0.125em 0.175em 0 0.275em rgba(0, 0, 0, 0.125);
    border: 1px solid #2c2c2c;
}


.display-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.infoCarrinho{
    border: 1px solid #2c2c2c;
    height: 200px;
    box-shadow: 0.125em 0.175em 0 0.275em rgba(0, 0, 0, 0.125);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.infoCarrinho p{
    margin-left: 1rem;
    font-size: 1.30rem;
}

.margin{
    margin-left: 60px;
    max-width: 450px;
    height: 100px;
}

.erros{
    width: 100%;
    height: 50px;
}

.voltar{
    margin-top: 10px;
}

.olaadm{
    margin-top: 20px;
}
.nomeAdm{
    font-size: 20px;
    font-weight: 700;
}

.containnerCart{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.alturaCarrinhoDeCompras{
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    padding: 0 2%;
}

.tituloCart{
    width: 100%;
}
.tituloCart h1{
    width: 100vw;
    text-align: center;
}

.img-responsiva{
    width: 120px;
    height: 120px;
}

.precoCart{
    height: 100px;
    width: 50px;
}

.precoCart h4{
    line-height: 50px;
}

.quantidadeCart{
    display: flex !important;
    height: 100px;
    align-items: center;
}

.quantidadeCart h4{
    line-height: 50px;
    margin: 0 10px;
}

.botaoremover{
    height: 100px;
    padding: 0;
    display: flex;
    align-items: center;
}

.botaoremover a{
    width: 50px;
    height: 40px;
}

.quantidadeCart button{
    width: 40px;
    height: 40px;
}

.removerbtn{
    height: 150px;
}

.ajuste{
    height: 50px;
}

.botoesCart{
    display: flex;
}
.acaoCart{
    width: 100vw;
    text-align: center;
}

.linkdecoration{
    text-decoration: none;
    width: 100%;
}

.exibebusca{
    height: 100%;
}

.centro{
    width: 100%;
    display: flex;
    justify-content: center;
}

.centro a>button{
    margin-top: 20px;
    width: 150px;
}

.disflex{
    width: 350px !important;
    display: flex;
}

.centraliza{
    width: 100%;
    display: flex;
    justify-items: center;
}

.rowuser{
    width: 100%;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
}

.botaoAlteraDadosUser{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.disflex> a{
    width: 150px;
    margin-left: 10px;
}

.erroUsuario{
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.erroLogin{
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaovoltarUser{
    float: left;
    position: relative;
    left: 0;
}

.alturaAreaUser{
    min-height: 450px;
}

.topAreaUser{
    width: 100%;
    display: flex;
    padding: 15px 0;
    justify-content: center;
}

.quantidadeDisponivel,.precoItem,.nomeProduto{
    height: 140px;
    display: flex;
    align-items: center;
}

.botaoAdicionarAoCarrinhoListaDeDesejos a{
    margin-top: 45px;
}


.topAreaUser>a>button{
    width: 100px;
}

.conteudo-confi-conta{
    min-height: 250px;
}

.footer{
    background-color: #2c2c2c; 
    margin-top: 40px; 
    padding-top: 50px; 
    bottom: 0!important;
    min-height: 400px;
    color: aliceblue;
}


/* 
    Inicio da area do modal
*/
.modal{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    z-index: 199;
    align-items: center;
    justify-content: center;
   transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.maisUmaDiv{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 5px 5px;
}

.h3listaDesejos{
    margin-top: 1rem;
}

.itensListaDesejos{
    background: #17a2b8;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}

.rowListaDesejos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo-listaDesejos{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2c2c2c;
    width: 280px;
    height: 140px;
    padding: 0 !important;
    border: 1 solid #3498db
}

.image-lista{
    background-image: url(imgem/relogio.jpg);
}

.separaFormModal{
    display: flex;
    justify-content: space-evenly;
}

.maisUmaDiv form>.separaFormModal>.form-group>input{
    width: 180px;
}


.maisUmaDiv form>.separaFormModal>.form-group>textarea{
    width: 550px;
}

.show-modal{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}



 /* 
    
    Inbicio da area modal categorias
  
*/
.modalCategorias{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    z-index: 199;
    align-items: center;
    justify-content: center;
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.show-modal{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

.conteudoModalCategorias{
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    background: rgb(247, 246, 246);
    border-radius: 10px;
    position: relative;
}

.rowConteudoModalCategorias{
    width: 100%;
    display: flex;
}

.bordaDireita{
    width: 25%;
    padding-left: 1%;
    border-right: 1px solid #2c2c2c;
}

.semBorda{
    width: 25%;
    padding-left: 1%;
}

.subCategorias{
    display: block;
    padding-left: 2%;
}

.subCategorias a{
    text-decoration: none;
    color: #2c2c2c;
    width: auto;
}

.subCategorias a>p:hover{
    background-color: #fff;
}

.subCategorias a>p{
    margin: 8px !important;
    height: 30px;
}

.dropdown-header{
    background: #dbe8ea;
    margin: 12px 0;
    font-size: 1rem;
    padding: 0 !important;
}

.dropdown-divider{
    margin: 0 !important;
    background-color: #2c2c2c;
}

.fechaModal{
    position: absolute;
    z-index: 300;
    right: 0;
    top: -0.50rem;
    margin-right: 1rem;
    font-size: 2.5rem;
    color: crimson;
    float: right;
    cursor: pointer;
}

.fechaModal i:hover{
    color: rgb(185, 86, 105);

}


/* 

lista de desejos

*/

.wishNomeProduto{
    max-width: 300px !important;
    margin-left: 1rem;
}

.wishNomeProduto span{
    max-width: 300px !important;
}

.botaoAdicionarAoCarrinhoListaDeDesejos{
    width: auto;
}

.adc-listaDesejos{
    width: 180px !important;
    font-size: 0.70rem;
    height: auto;
}

@media screen and (max-width:1400px) {
    .formularioPesquisa{
        display: flex;
    }
    .botaoProcurar{
        max-width: 150px;
    }
    .form-inline{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .displayFlex{
        display: flex;
        justify-content: center;
    }
    .corpoDetalhes{
        width: 100%;
        height: 100%;
        padding: 0 2%;
        display: flex;
        justify-content: center;
    }

    .marginTop{
        margin-top: 20px;
    }
    .imgPrincipal{
        width: 350;
        height: 350px;
        padding: 10px 2px;
    }
    .w50{
        width: 50%;
        height: 100%;
    }
    .voltar{
        width: 100%;
    }
    .detales{
        margin-top: 1rem;
        height: 580px;
        border-radius: 10px;
        border: 1px solid #2c2c2c;
        display: flex;
        justify-content: center;

    }

    .calculaFrete{
        margin-top: 10px;
    }
    .centralizar{
        width: 100%;
        height: 100%;
        display: inline-block;
        padding-bottom: 2rem;
    }
    .botoesDetalhes{
        width: 100%;
        margin-right: 0;
        padding-bottom: 1rem;
    }


    .botoesDetalhes a{
        width: 240px;
        text-decoration: none;
    }

    .formCep{
        border-radius: 5px;
        width: 100%;
    }

    .btnDetalhes{
        width: 100%;
    }

    .imgp{
        width: 100px;
        height: 100px;
        border: 1px solid #2c2c2c;
        border-radius: 5px;
    }

    .imgp> .imgPrincipal{
        width: 100px;
        height: 100px;
    }

    .justy{
        width: 440px;
        justify-content: space-around;
    }

    .wishList{
        background: #dbe8ea;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #2c2c2c;
        box-shadow: 0.125em 0.175em 0 0em rgba(0, 0, 0, 0.125);
    }

    .dadosWishList{
        width: 100%;
    }

    .body{
        width: 100%;
    }

    .imagem{
        width: 100%;
    }

    .iconDetalhe{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        font-size: 1.40rem;
    }

    .segundaParteDetalhes{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .descricaoDetales{
        width: 100%;
    }

    .descricaoDetales h5{
        border-bottom: 1px solid #343a40;
    }

    .bordaEsquerda{
        margin-top: 1rem;
        height: 100%;
        border-left: 1px solid #2c2c2c;
    }

    .pergunta{
        margin-bottom: 1rem;
        border-bottom: 1px solid #343a40;
        padding-bottom: 10px;
    }
    
    .botaoResponde{
        margin-top: 10px;
        width: auto;
        height: 25px;
        display: flex;
        align-items: center;
        background: #79969b;
        font-size: 0.50rem;
    }

    .produtosSemelhantes{
        padding-top: 20px;
    }

    .displayProdSemelhantes{
        padding: 0 2%;
        display: flex;
        justify-content: space-evenly;
    }

    .produtosSemelhantes h4{
        border-bottom: 1px solid #343a40;
    }

    .carProduto{
        padding-top: 2px;
        border: 1px solid #343a40;
        border-radius: 5px;
        text-align: center;
        height: auto;
    }

    .carProduto a{
        color: rgb(17, 17, 17);
        text-decoration: none;
    }

    .carProduto span{
        display: flex;
        justify-content: center;
    }

    .carImagem{
        display: flex;
        justify-content: center;
    }

    .carNomeProd{
        height: auto;
    }

    .carBotoes button{
        font-size: 0.92rem;
    }

    .carBotaoAdd{
        background-color: #28a745;
        width: 100%;
        height: 30px;
        border-radius: 5px;
        border: none;
        margin-bottom: 10px;
    }

    .carBotaoFav{
        background-color: #8a1717;
        width: 100%;
        height: 30px;
        border-radius: 5px;
        border: none;
    }
    .imagemProdSemelhante{
        max-width: 150px;
    }

    .botaoCategorias{
        width: auto;
        background: #343a40;
        border: none;
        color: #fff;
        font-size: 1.30rem;
        height: 75PX;
        padding: 0 !important;
        
    }
}
@media screen and (max-width:1024px) {
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
    .formularioPesquisa{
        width: 100%;
        display: flex;

    }
    .form-inline{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .corpoDetalhes{
        width: 100%;
        height: 100%;
        display: flex;
    }
    .imgPrincipal{
        width: 100%;
        height: 400px;
        padding: 10px 2px;
    }
    .w50{
        width: 50%;
        height: 100%;
    }
    .voltar{
        width: 100%;
    }
    .detales{
        display: flex;
        justify-content: center;
    }
    .centralizar{
        display: inline-block;
    }

}
@media screen and (max-width:940px) {
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #343a40;
        top: 80px;
        left: -100%;
        transition: all .5s;
        text-align: center;
        z-index: 99;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border: none;
        color: #3498db;
    }
    nav ul.show{
        left: 0;
    }
    .dropdown-menu{
        margin-top: 0;
        width: 100%;
        background-color: #343a40;
        text-align: center;
        border: none;
    }
    .dropdown-item{
        color: white;
    }
    .manterbotoes{
        align-items: center;
        text-align: center;
    }

    .formularioPesquisa{
        width: 100%;
        display: flex;

    }
    .form-inline{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width:770px) {
    .corpoDetalhes{
        width: 100%;
        height: 100%;
        display: block;
    }
    .imgPrincipal{
        width: 100%;
        height: 400px;
        padding: 10px 2px;
    }
    .w50{
        width: 100%;
        height: 100%;
    }
    .voltar{
        width: 100%;
    }
    .detales{
        display: flex;
        justify-content: center;
    }
    .centralizar{
        display: inline-block;
    }

}
@media screen and (max-width:700px) {
    .corpoDetalhes{
        width: 100%;
        height: 100%;
        display: block;
    }
    .imgPrincipal{
        width: 100%;
        height: 400px;
        padding: 10px 2px;
    }
    .w50{
        width: 100%;
        height: 100%;
    }
    .voltar{
        width: 100%;
    }
    .detales{
        display: flex;
        justify-content: center;
    }
    .centralizar{
        display: inline-block;
    }

}

@media screen and (max-width:610px) {
    .botaoProcurar{
        width: 100%;
        margin-top: 10px;
    }
    .botoesCart{
        display: inline-block;
    }
}